:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
  
  /* shape variables */
  --shape-color: #c7ffed;
  --shape-resizer: rgb(255, 255, 255);
  /* variable for the shape corners   */
  --top-left: 0%;
  --top-right: 0%;
  --bottom-right: 0%;
  --bottom-left: 0%; 

  /* toolbox variables */
  --toolbox-color: #9accbc;
  --button-border: #000000;
  --button-color: #ffffff;
  --button-on: #535353;
}

*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  min-height: 100vh;

}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* shape */
#shape-container{
  height: auto;
  width: 100%;
  /* background-color: var(--shape-wrapper); */
  /* align-self: center; */
  display: grid;
  place-content: center;
}

#shape{
  position: relative;
  height: 200px;
  width: 200px;
  background-color: var(--shape-color);
  /* border-radius: var(--top-left) var(--top-right) var(--bottom-right) var(--bottom-left); */
  border-top-left-radius: var(--top-left);
  border-top-right-radius: var(--top-right);
  border-bottom-right-radius: var(--bottom-right);
  border-bottom-left-radius: var(--bottom-left);
}

#shape div.resizer{
  position: absolute;
  width: 0;
  height: 0;
  z-index: 2;
}
.resizer.se{
  bottom: -25px;
  right: -25px;
  border-bottom: 18px solid var(--shape-resizer);
  border-left: 18px solid transparent;
  cursor: se-resize;
}
.resizer.sw{
  bottom: -25px;
  left: -25px;
  border-bottom: 18px solid var(--shape-resizer);
  border-right: 18px solid transparent;
  cursor: sw-resize;
 
}

/* toolbox */
#toolbox{
  /* position: relative; */
  
  padding: .5em .5em;
  height: auto;
  width: 22em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--toolbox-color);
  border-radius: 0.6em;
  margin-top: 3.5em;
  z-index: 200;
}

#toolbox .options{
  display: flex;
  align-items: center; 
  margin: 1em auto;  
  
}

.button{
  background-color: var(--button-color);
  border: none;
}

.button.allb{
  padding: 0.5em 2.5em;
  margin-left: 0.5em;
  border-right: 0.01em solid var(--button-border);
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.button.individualb{
  padding: 0.5em 0.8em;
  border-left: 0.01em solid var(--button-border);
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.options button:hover{
  background-color: var(--button-on);
  color: #fff;
}

.setOn{
  background-color: var(--button-on);
  color: #fff;
} 

input[type='range']{
  width: 250px;
}

.individual label{
  display: flex; 
}

.option{
  display: none;
  margin-bottom: 1em;
  width: 250px;
}
.show{
  display: block;
}

/* code */
div.output{
  display: flex;
  flex-direction: column;
  gap: .5em;
  margin-bottom: 1.3em;
}
div.output label{
  padding-left: 1.3em;
}
code{
  width: 280px;
  border: 0.2em solid #707070;
  background-color: #ffffff;
  align-self: center;
  padding: 1em;
  border-radius: 0.5em;
  line-height: 1.5em;
}
/* background animation */
@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: rgb(46, 94, 105);
  overflow: hidden;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 35s linear infinite;
}

.background li:nth-child(0) {
  left: 2%;
  width: 341px;
  height: 341px;
  bottom: -341px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 24%;
  width: 393px;
  height: 393px;
  bottom: -393px;
  animation-delay: 3s;
}
.background li:nth-child(2) {
  left: 84%;
  width: 374px;
  height: 374px;
  bottom: -374px;
  animation-delay: 6s;
}
.background li:nth-child(3) {
  left: 71%;
  width: 268px;
  height: 268px;
  bottom: -268px;
  animation-delay: 10s;
}
.background li:nth-child(4) {
  left: 9%;
  width: 366px;
  height: 366px;
  bottom: -366px;
  animation-delay: 15s;
}

/* break points */

@media (min-width: 769px){
  #app{
      display: flex;
      flex-direction: row;
      place-items: center;
      gap: 5em;
      margin: 0;
      padding: 0;
  }
  .resizer.ne{    
      top: -25px;
      right: -25px;
      border-top: 18px solid var(--shape-resizer);
      border-left: 18px solid transparent;
      cursor: ne-resize;
  }
  .resizer.nw{
      top: -25px;
      left: -25px;
      border-top: 18px solid var(--shape-resizer);
      border-right: 18px solid transparent;
      cursor: nw-resize;
  }
  #toolbox{
    width: 400px;
    min-width: 350px;
  }
}

@media (min-width: 1280px){
  #app{
      gap: 8em;
  }
}